extends layout.pug

block style 
    link(rel="stylesheet", href="style/home.css")

block content 

    .home 
        h1.home__title This web application is usefull to track spendings
        p.home__subtitle This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        